In [2]:
# importing the pandas library for converting the data set to data frame
import pandas as pd

In [3]:
#we have the uncleaned data set in the 01_Data subfolder directory so using that directory to load the data set by data frame
df=pd.read_csv("../01_Data/01_Adidas US Sales uncleaned data set.csv")

In [4]:
print(df) # showing the data frame is loaded or not

      sales_id       retailer  retailer_id invoice_date     region  \
0            1    Foot Locker      1185732   2021-11-06  Southeast
1            2    Foot Locker      1185732   2020-03-14  Northeast
2            3      West Gear      1128299   2021-01-19       West
3            4        Walmart      1128299   2021-06-17  Southeast
4            5  Sports Direct      1197831   2021-09-14      South
...        ...            ...          ...          ...        ...
9632      9633         Amazon      1185732   2021-11-18  Northeast
9633      9634         Amazon      1185732   2021-10-22       West
9634      9635         Amazon      1185732   2021-10-22       West
9635      9636      West Gear      1185732   2021-04-10    Midwest
9636      9637  Sports Direct      1185732   2021-10-05  Northeast

               state           city                    product  \
0     South Carolina     Charleston      Men's Street Footwear
1           New York       New York              Men's Apparel
2         California  San Francisco    Men's Athletic Footwear
3            Florida        Orlando            Women's Apparel
4            Alabama     Birmingham    Women's Street Footwear
...              ...            ...                        ...
9632           Maine       Portland              Men's Apparel
9633          Alaska      Anchorage  Women's Athletic Footwear
9634          Alaska      Anchorage              Men's Apparel
9635         Indiana   Indianapolis              Men's Apparel
9636     Connecticut       Hartford              Men's Apparel

      price_per_unit  units_sold  total_sales  operating_profit sales_method
0                 50         278        13900               792       Online
1                 46         278        12788               435       Outlet
2                 47         278        13066               287       Outlet
3                103         218        22454              1257       Online
4                 36         278        10008               530       Outlet
...              ...         ...          ...               ...          ...
9632              65         150         9750              2438       Outlet
9633              65         150         9750              2438       Outlet
9634              75         150        11250              2813       Outlet
9635              65         150         9750              2925     In-store
9636              65         150         9750              2925     In-store

[9637 rows x 13 columns]