In [2]:
#importing the reequired libraries
import pandas as pd
import numpy as np

In [4]:
# loading the data frame using directory
df=pd.read_csv("../01_Data/01_Adidas US Sales uncleaned data set.csv")

# Data Exploration

In [5]:
print(df.head(10))#it show the first 10 line of DataFrame

   sales_id       retailer  retailer_id invoice_date     region  \
0         1    Foot Locker      1185732   2021-11-06  Southeast
1         2    Foot Locker      1185732   2020-03-14  Northeast
2         3      West Gear      1128299   2021-01-19       West
3         4        Walmart      1128299   2021-06-17  Southeast
4         5  Sports Direct      1197831   2021-09-14      South
5         6      West Gear      1197831   2021-07-06       West
6         7      West Gear      1128299   2021-01-12       West
7         8    Foot Locker      1185732   2020-01-21  Northeast
8         9        Walmart      1197831   2020-08-17      South
9        10      West Gear      1128299   2021-07-16      South

            state           city                  product  price_per_unit  \
0  South Carolina     Charleston    Men's Street Footwear              50
1        New York       New York            Men's Apparel              46
2      California  San Francisco  Men's Athletic Footwear              47
3         Florida        Orlando          Women's Apparel             103
4         Alabama     Birmingham  Women's Street Footwear              36
5           Idaho          Boise  Women's Street Footwear              34
6      California  San Francisco    Men's Street Footwear              56
7        New York       New York  Women's Street Footwear              36
8           Texas        Houston          Women's Apparel              37
9       Louisiana    New Orleans          Women's Apparel             103

   units_sold  total_sales  operating_profit sales_method
0         278        13900               792       Online
1         278        12788               435       Outlet
2         278        13066               287       Outlet
3         218        22454              1257       Online
4         278        10008               530       Outlet
5         278         9452               397       Outlet
6         277        15512               698       Online
7         276         9936               467       Online
8         276        10212               643       Online
9         163        16789               806       Online

In [6]:
print(df.columns) #it provides the column names

Index(['sales_id', 'retailer', 'retailer_id', 'invoice_date', 'region',
       'state', 'city', 'product', 'price_per_unit', 'units_sold',
       'total_sales', 'operating_profit', 'sales_method'],
      dtype='object')

In [7]:
print(df.info()) #it provide the not null column and data type of columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9637 entries, 0 to 9636
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   sales_id          9637 non-null   int64
 1   retailer          9637 non-null   object
 2   retailer_id       9637 non-null   int64
 3   invoice_date      9637 non-null   object
 4   region            9637 non-null   object
 5   state             9637 non-null   object
 6   city              9637 non-null   object
 7   product           9637 non-null   object
 8   price_per_unit    9637 non-null   int64
 9   units_sold        9637 non-null   int64
 10  total_sales       9637 non-null   int64
 11  operating_profit  9637 non-null   int64
 12  sales_method      9637 non-null   object
dtypes: int64(6), object(7)
memory usage: 978.9+ KB
None

In [8]:
print(df.describe()) #it provides the statistical information of df

          sales_id   retailer_id  price_per_unit   units_sold   total_sales  \
count  9637.000000  9.637000e+03     9637.000000  9637.000000   9637.000000
mean   4819.000000  1.173846e+06       45.218948   256.886064  12451.621355
std    2782.106606  2.636304e+04       14.704520   214.097600  12708.094249
min       1.000000  1.128299e+06        7.000000     6.000000    160.000000
25%    2410.000000  1.185732e+06       35.000000   106.000000   4068.000000
50%    4819.000000  1.185732e+06       45.000000   176.000000   7805.000000
75%    7228.000000  1.185732e+06       55.000000   350.000000  15834.000000
max    9637.000000  1.197831e+06      110.000000  1275.000000  82500.000000

       operating_profit
count       9637.000000
mean        3440.706029
std         5418.210200
min            8.000000
25%          192.000000
50%          437.000000
75%         5200.000000
max        39000.000000

In [9]:
print(df.isnull().sum()) #it will check is there any null values in the dataframe

sales_id            0
retailer            0
retailer_id         0
invoice_date        0
region              0
state               0
city                0
product             0
price_per_unit      0
units_sold          0
total_sales         0
operating_profit    0
sales_method        0
dtype: int64

In [10]:
print(df[df.duplicated()])#checking is there any duplicate rows

Empty DataFrame
Columns: [sales_id, retailer, retailer_id, invoice_date, region, state, city, product, price_per_unit, units_sold, total_sales, operating_profit, sales_method]
Index: []

In [11]:
d=df.T.duplicated()#transposing the df to make esy to find the duplicate columns in next
print(df.columns[d])#checking is there any duplicate columns present in the data set

Index([], dtype='object')

In [12]:
#checking the unique values of columns region,product and sales_method
for i in ["region","product","sales_method"]:
    print(df[i].unique())

['Southeast' 'Northeast' 'West' 'South' 'Midwest']
["Men's Street Footwear" "Men's Apparel" "Men's Athletic Footwear"
 "Women's Apparel" "Women's Street Footwear" "Women's Athletic Footwear"]
['Online' 'Outlet' 'In-store']